:root {
	--mainBlue: rgb(44, 44, 84);
	--mainGray: rgb(170, 166, 157);
	--mainWhite: rgb(255,255,255);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	font-size: 10px;
	/*background-color: rgb(247, 215, 148);*/
	background-color: #227093;
	font-family: 'Lato', sans-serif;
}